<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wabby Wabbo CRM</title>
	
    <!-- Bootstrap core CSS -->
	
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" >

	<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" >

  </head>
  <body class="text-center">
    
	<main class="form-signin">
	  <form action="/auth/register" method="post">
		<h1 class="h3 mb-3 fw-normal">Registration for</h1>
		<h1 class="h3 mb-3 fw-normal">Wabby Wabbo CRM</h1>
		<div class="form-floating">
		  <input class="form-control" id="email" name="email" required="" type="text" placeholder="name@example.com">
		  <label for="floatingInput">Email address</label>
		</div>
		<div class="form-floating">
		  <input class="form-control" id="password" name="password" required="" type="password" placeholder="Password">
		  <label for="floatingPassword">Password</label>
		</div>

		<button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
	  </form>
	</main>

  </body>
</html>