<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wabby Wabbo CRM</title>
	
    <!-- Bootstrap core CSS -->
	
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" >

	<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" >

  </head>
  <body class="text-center">
    
	<main class="form-signin">
	  <form action="/auth/register" method="post">
		<h1 class="h3 mb-3 fw-normal">Registration for</h1>
		<h1 class="h3 mb-3 fw-normal">Wabby Wabbo CRM</h1>
		<div class="form-floating">
		  <input class="form-control" id="email" name="email" required="" type="email" placeholder="name@example.com">
		  <label for="floatingInput">Email address</label>
		</div>
		<div class="form-floating">
		  <input class="form-control" id="password" name="password" required="" type="password" placeholder="Password" onKeyUp="confirmPassword()">
		  <label for="floatingPassword">Password</label>
		</div>
		<label class = "alert alert-danger  w-100"  id="passwordInstruction"  style="text-align: center; padding: 5px; margin-bottom: 0px;">Password should countain at least a letter, a number, and over 8 chars in length</label>
        <label class = "alert alert-success w-100"  id="passwordCorrect"      style="text-align: center; padding: 5px; margin-bottom: 0px;" hidden>this is a good password.</label>
		<div class="form-floating">
		  <input class="form-control" id="confirm_password" name="confirm_password" required="" type="password" placeholder="Confirm Password" onKeyUp="confirmPassword()">
		  <label for="floatingPassword">Confirm Password</label>
		  </div>
		<label class = "alert alert-danger  w-100" id="passwordConInstruction"  style="text-align: center; padding: 5px; margin-bottom: 10px;" hidden>Two password are different.</label>
        <label class = "alert alert-success w-100" id="passwordConCorrect"      style="text-align: center; padding: 5px; margin-bottom: 10px;">Two password are same.</label>
		<br>
		<button id="btnSubmit" class="w-100 btn btn-lg btn-primary" type="submit" disabled = true>Register</button>
	  </form>
	</main>

  </body>
  
  <script>
		const strongPassword = new RegExp('(?=.*[a-zA-Z])(?=.*[0-9])(?=.{8,})');
        function confirmPassword(){
			var submit = document.getElementById("btnSubmit");
			var pswIns = document.getElementById("passwordInstruction");
			var pswCor = document.getElementById("passwordCorrect");
			var pswConIns = document.getElementById("passwordConInstruction");
			var pswConCor = document.getElementById("passwordConCorrect");
			var flag;
            var password = document.getElementById("password").value;
			var confirmPassword = document.getElementById("confirm_password").value;

			flag = false;
			
			if(strongPassword.test(password)){
				// password strong enough
				pswIns.hidden = true;
				pswCor.hidden = false;
				flag = true;
			} else {
				pswIns.hidden = false;
				pswCor.hidden = true;
				flag = false;
			}
			
			if(password == confirmPassword){
				pswConIns.hidden = true;
				pswConCor.hidden = false;
			} else {
				pswConCor.hidden = true;
				pswConIns.hidden = false;
				flag = false;
			}
			
			if(flag) {
				submit.disabled = false;
			} else {
				submit.disabled = true;
			}
        }
  </script>
  
</html>